<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>404 error</title>
    <link rel="stylesheet" href="/css/styles.css">
   
</head>
<body>
    <div class="main">
        {{>header}}
        <p>{{errorM}}</p>
    </div>
    
    {{>footer}}
</body>
</html>