<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>AboutPage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main">
        {{>header}}
        <h2>From About Page {{title}}</h2>
        <img class="portrait" src="/img/me.jpg">
        <p>Created by {{name}}</p>
    </div>
   
    {{>footer}}
</body>
</html>