<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>HelpPage </title>

</head>
<body>
    <div class="main">
        {{>header}}
        <h2>FromHelp Page {{helpText}}</h2>
        <h2>Created by {{name}} From Help Page</h2>
        <img class="portrait" src="/img/me.jpg">
    </div>
   
    {{>footer}}
</body>
</html>